#!/usr/bin/env bash

P2PA_SRC_DEFT_USER=''
P2PA_SRC_DEFT_PASS=''
P2PA_SRC_DEFT_JDBC=''

export P2PA_SRC_DEFT_USER P2PA_SRC_DEFT_PASS P2PA_SRC_DEFT_JDBC

P2PA_SRC_JEDI_USER=''
P2PA_SRC_JEDI_PASS=''
P2PA_SRC_JEDI_JDBC=''

export P2PA_SRC_JEDI_USER P2PA_SRC_JEDI_PASS P2PA_SRC_JEDI_JDBC

P2PA_PROVIDER_USER=''
P2PA_PROVIDER_PASS=''
P2PA_PROVIDER_URL=''

export P2PA_PROVIDER_USER P2PA_PROVIDER_PASS P2PA_PROVIDER_URL
